/* ================================
   Page content styles
   ================================ */

.tablist {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color-border);

  .tab {
    position: relative;
    border: 1px solid var(--color-border);
    border-bottom: none;
    padding: 0.6rem 1.2rem;
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;

    &.active {
      background-color: var(--color-btn-bg-hover);
      color: var(--color-btn-text-hover);

      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--color-btn-bg-hover);
      }
    }
  }
}

.component-desc {
  section {
    border-top: 1px solid var(--color-border);

    &:first-of-type {
      border: none;
    }
  }
}

.demo-area {
  border: 3px dashed #EDECECFF;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #EDECEC, #EDECEC 6.5px, #ffffff 6.5px, #ffffff 32.5px );
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  width: 100%;
  min-height: 100px;

  .dialog-trigger {
    margin: auto;
    display: block;
  }
}

[data-theme="dark"] {
  .demo-area {
    border: 3px dashed #2a2a2a;
    background: repeating-linear-gradient( -45deg, #2a2a2a, #2a2a2a 6.5px, #1a1a1a 6.5px, #1a1a1a 32.5px );
  }
}