/* ================================
   Page content styles
   ================================ */

.tablist {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color-border);

  .tab {
    position: relative;
    border: 1px solid var(--color-border);
    border-bottom: none;
    padding: 0.6rem 1.2rem;
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &.active {
      background-color: var(--color-btn-bg);
      color: var(--color-btn-text-hover);

      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--color-btn-bg);
      }

      &:hover, &:focus, &:active {
        &:after {
          border-top: 10px solid var(--color-btn-bg-hover);
        }
      }
    }

    &:hover, &:focus, &:active {
      background-color: var(--color-btn-bg-hover);
      color: var(--color-btn-text-hover);
    }
  }
}

.component-desc {
  section {
    border-top: 1px solid var(--color-border);

    &:first-of-type {
      border: none;
    }
  }
}
