/* RESPONSIVE ---------------- */
@mixin mobile-only {
  @media (max-width: map-get($grid-breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

@mixin large-up {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content;
  }
}

/* UTILITIES ---------------- */
@mixin remove-btn-defaults() {
  padding: 0; // can remove or set as a parameter
  background: none;
  border: none;
  border-radius: 0;
}

@mixin screen-reader-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
