@mixin remove-btn-defaults() {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}

@mixin screen-reader-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
