#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header ul {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style: none;
}

footer {
    background-color: #361720;
    color: #fff;
}