#root {
  //max-width: 1280px;
  margin: 0 auto;
}

header, main, footer {
  padding: 2rem;
}

header ul {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style: none;
}